<div class="generic-container" ng-controller="UserController as ctrl">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="lead"></span></div>


    <div class="formcontainer">


      <form ng-submit="ctrl.doLogin()" style="text-align: center" name="loginForm" class="form-horizontal">

        <div class="row">
          <div class="form-group col-md-12">
            <label for="USERNAME">USERNAME</label><br>
               <input style="width: 50%;"  id="USERNAME" type="text" size="30" [(ngModel)]="UserModel.username" required ng-minlength="2" [ngModelOptions]="{standalone: true}"  pInputText>
          </div>
        </div>
        <div class="row ">
          <div class="form-group col-md-12">
            <label for="PASSWORD">PASSWORD</label><br>
            <input style="width: 50%;" id="PASSWORD" type="text" size="30" [(ngModel)]="UserModel.password" required ng-minlength="2" [ngModelOptions]="{standalone: true}"  pInputText>
          </div>
        </div>


        <div class="col-md-12">
          <div class="col-md-12">
          <button pButton type="button" (click)="doLogin()" label="Login" ></button>

              <input style="margin-left: 30px;" type="checkbox" checked="checked"> Remember me

          </div>
          Forgot <a  href="#">password?</a>
        </div>

      </form>
      <p-messages [(value)]="msgLogin"></p-messages>
    </div>
  </div>
</div>
