/* Customize Colors */

$color1:		#363941;
$color2:		#5C616F;
$color3:		#8F9EA3;
$color4:		#BED2D9;
$color5:		#F3F5F6;
$color6:		#FFFFFF;
$color-modelbox-border:	#dee2e6;
$color-tab-content:	#FFFFFF;

/* Customize Colors */

/* Customize Fonts */

@import url("stylesheets/vendor/icomoon/style.css");

/* Customize Fonts */